*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.header {
    background: url("/img/background_header.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 770px;
}

.header_menu {
    display: flex;
    width: 100vw;
    margin: 22px 0px 32px 38px;
    justify-content: space-between;
    max-width: calc(100% - 80px);
    color: #ffffff;
    align-items: center;
    text-align: center;
}

.header_menu h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.header_menu i {
    font-style: italic;
}

.header_menu img:hover {
    background-color: #0000007b;
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.toggle_menu {
    width: 20px;
    height: 2px;
    background: #ffffff;
    margin: 0px 0px 4px 0px;
    cursor: pointer;
    align-items: center;
}

.main_hdr {
    margin: 166px 0px 0px 46px;
    max-width: calc(100% - 50px);
}

.slide_txt {
    display: flex;
}

.slide_text {
    width: 34px;
    height: 4px;
    background: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.slide_text:hover {
    transition: 0.5s;
    padding: 4px;
}

.slide_text_opacity {
    width: 34px;
    height: 4px;
    background: #ffffff7e;
    border-radius: 10px;
    margin: 0px 0px 0px 6px;
    cursor: pointer;
}

.slide_text_opacity:hover {
    background: #ffffff;
    transition: 0.5s;
    padding: 4px;
}

.header_title {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 74px;
    color: #ffffff;
    overflow: hidden;
    margin: 30px 0px 24px 0px;
}

.header_pr {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    margin: 0px 0px 100px 0px;
}

.tool img {
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.tool img:hover {
    background-color: #0000007b;
    transition: 0.5s;
    border-radius: 20px;
}

.right {
    transform: rotate(180deg);
    margin: 0px 0px 0px 15px;
}

.main_initial {
    display: flex;
    margin: 100px 0px 144px 80px;
    max-width: calc(100% - 50px);
}

.main_initial img {
    width: 48%;
    height: 48%;
}

.main_initial div {
    margin: 0px 0px 0px 110px;
}

.main_initial h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    color: #0b1d03;
    margin: 10px 0px 32px 0px;
}

.main_initial p {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #0b1d03;
}

.main_midle {
    flex-direction: row-reverse;
    display: flex;
    max-width: calc(100% - 10px);
    margin: 0px 70px 100px 0px;
}

.main_midle img {
    width: 50%;
}

.main_midle div {
    margin: 0px 80px 0px 0px;
}

.main_midle h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    color: #0b1d03;
    margin: 0px 0px 32px 0px;
}

.main_midle p {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #0b1d03;
}

.aside_product {
    justify-content: center;
    max-width: calc(100% -32px);
    margin: 0px 80px 180px 80px;
}

.aside_product h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    color: #a0996c;
    margin: 0px 0px 32px 0px;
}

.aside_product nav {
    display: flex;
    flex-wrap: wrap;
}

.aside_product div {
    display: flex;
    margin: 0px 0px 42px 100px;
}

.aside_product li {
    width: 382px;
    height: 530px;
    background: #f7f1e6;
    border-radius: 8px;
    margin: 7px;
    align-items: center;
    text-align: center;
    max-width: calc(100% - 10px);
}

.aside_product h4 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #0b1d03;
    margin: 40px 0px 40px 0px;
}

.aside_product img {
    margin: 0px 0px 32px 0px;
}

.aside_product h3 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #0b1d03;
}

.aside_product h5 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #969696;
    margin: 10px 0px 0px 10px;
}

.aside_product button {
    width: 335px;
    height: 66px;
    background: #0b1d03;
    border-radius: 4px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    border: transparent;
}

.aside_product button:hover {
    background-color: #1b3310;
    transition: 0.5s;
}

.beneficios {
    display: flex;
    max-width: calc(100% - 32px);
}

.beneficios p {
    width: 262px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #0b1d03;
    text-align: center;
    margin: 8px 0px 68px 0px;
}

.beneficios img {
    margin: 0px 0px 0px 95px;
}

.main_final {
    overflow-y: hidden;
    width: 89%;
    height: 40%;
    display: flex;
    margin: 0px 80px 100px 80px;
    max-width: calc(100% - 20px);
}

.main_final nav {
    align-items: center;
    width: 474px;
    padding: 378px 100px 40px 40px;
    background-image: url('/img/main_3.jpg');
    background-repeat: no-repeat;
}

.main_final div {
    width: 468px;
    height: 132px;
    padding: 388px 100px 40px 40px;
    background-image: url('/img/main_4.jpg');
    background-repeat: no-repeat;
    margin: 0px 0px 0px 30px;
    overflow-y: hidden;
}

.main_final h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #FFFCF6;
    margin: 0px 0px 10px 0px;
}

.main_final p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFCF6;
    margin-bottom: 30px;
}

.footer_map {
    margin: 0px 0px 0px 80px;
}

.footer_map h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    color: #0b1d03;
    margin: 0px 0px 48px 0px;
}

.city {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 459px;
    height: 66px;
    border: 2px solid #0b1d03;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px 0px 0px 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #969696;
    background: url("/img/seta_baixo.png");
    background-repeat: no-repeat;
    background-position: 410px 27px;
    cursor: pointer;
}

.city::-webkit-search-cancel-button {
    display: none;
}

.adress {
    width: 709px;
    height: 66px;
    margin: 0px 0px 24px 15px;
    border: 2px solid #0b1d03;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px 0px 0px 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #969696;
    background: url("/img/search_header.svg");
    background-position: 665px 22px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

.adress::-webkit-search-cancel-button {
    display: none;
}

.footer_map img {
    width: 94%;
    margin: 0px 0px 40px 0px;
}

.footer {
    width: 100vw;
    height: 360px;
    background: #f7f1e6;
    display: flex;
}

.black {
    background: #F7F1E6;
}

.black h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #0b1d03;
    margin: 102px 100px 0px 80px;
}

.black i {
    font-style: italic;
}

.footer h4 {
    margin: 0px 0px 18px 0px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #1f1f1f;
}

.footer ul {
    width: 296px;
    margin: 102px 0px 0px 70px;
}

.footer li {
    margin: 0px 0px 12px 0px;
    cursor: pointer;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1f1f1f;
}

.footer h5 {
    margin: 100px 0px 0px 0px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #1f1f1f;
}

.footer img {
    margin: 23px 14px 0px 0px;
}

.final {
    display: flex;
    background: #f7f1e6;
    height: 36px;
}

.final h4 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #1f1f1f;
    margin: 0 auto;
}

.final img {
    margin: 4px 0px 0px 10px;
}

.layout {
    width: 100vw;
    height: 900px;
    position: fixed;
    background: rgba(0, 0, 0, 0.611);
    border: transparent;
}

.layout-style {
    background: #ffffff;
    margin: 0px 0px 0px 665px;
    width: 684px;
    height: 900px;
}

.close {
    position: absolute;
    margin: 0px 0px 0px 630px;
    top: 20px;
    border: transparent;
    background: none;
    border: transparent;
}

.close:hover {
    background-color: #1f1f1f2c;
    transition: 0.5s;
    border-radius: 5px;
    border: none;
}

.layout-style h2 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #0b1d03;
    margin: 48px 0px 0px 0px;
}

.arrow {
    margin: 48px 10px 0px 10px;
}

.layout-style div {
    margin: 0px 0px 0px 49px;
    display: flex;
}

.layout_opacity {
    opacity: 30%;
}

.layout_inputs form {
    margin: 20px 0px 0px 0px;
}

.layout_inputs input {
    width: 597px;
    height: 56px;
    margin: 12px 0px 0px 49px;
    border: 1px solid #0b1d03;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px 0px 0px 15px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #969696;
}

.layout_inputs textarea {
    width: 597px;
    height: 170px;
    margin: 12px 0px 0px 48px;
    border: 1px solid #0b1d03;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 0px 0px 15px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #969696;
}

.layout_inputs button {
    width: 597px;
    height: 66px;
    background: #0b1d03;
    border-radius: 4px;
    margin: 12px 0px 20px 48px;
    border: transparent;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
}

.layout_inputs button:hover {
    background-color: #1b3310;
    transition: 0.5s;
    cursor: pointer;
}

.compra {
    display: grid;
    position: absolute;
    width: 399px;
    height: 262px;
    background: #ffffff;
    top: 0px;
    margin: 0px 0px 0px 267px;
    border-radius: 0px 0px 0px 10px;
}

.margin {
    margin: 48px 0px 0px 49px;
}

.compra h2 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #0b1d03;
}

.compra div {
    width: 303px;
    height: 124px;
    background: #f2f2f2;
    border-radius: 4px;
    margin: 0px 0px 0px 49px;
}

.compra p {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #0b1d03;
    margin: 15px 0px 0px 0px;
}

.compra img {
    width: 27%;
    height: 74%;
    margin: 15px 0px 0px 8px;
}

.compra h3 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #a0996c;
    margin: 5px 0px 0px 8px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.margin-1 {
    margin: 5px 0px 0px 5px;
}

@media (min-width: 1200px) {
    .compra_1 {
        display: none;
    }
    .layout_inputs textarea {
        height: 208px;
    }
    .RUANDA {
        display: flex;
        background: #f2f2f2;
        border-radius: 4px;
        width: 80%;
        margin: 0px 0px 48px 48px;
    }
    .margin {
        margin: 20px 0px 0px 48px;
        font-size: 24px;
    }
    .margin-1 {
        margin: 10px 0px 0px 0px;
        font-size: 24px;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    html {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .main_hdr {
        margin: 80px 0px 0px 14px;
    }
    .main_hdr h1 {
        font-size: 68px;
        margin: 30px 0px 10px 0px;
    }
    .main_hdr p {
        font-size: 25px;
        margin: 15px 0px 0px 0px;
    }
    .header {
        height: 660px;
        object-fit: cover;
    }
    .tool {
        margin: 80px 0px 10px 580px;
    }
    .margin {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .layout {
        background: rgba(0, 0, 0, 0.795);
        height: 100vh;
    }
    .layout::backdrop {
        background: rgba(0, 0, 0, 0.795);
        height: 100vh;
    }
    .layout-style {
        width: 100vw;
        height: 980px;
        margin: 0;
    }
    .layout-style div {
        margin: 0px 0px 70px 56px;
    }
    .layout_inputs {
        margin: 0px 0px 0px 0px;
    }
    .layout_inputs input {
        width: 660px;
        height: 66px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    }
    .close {
        margin: 0px 0px 0px 700px;
    }
    .arrow {
        margin: 48px 13px 0px 13px;
    }
    .compra {
        display: none;
    }
    .compra_1 {
        overflow-y: hidden;
        width: 656px;
        height: 273px;
        font-family: "Gilroy", sans-serif;
        margin: 0px 0px 0px 56px;
    }
    .compra_1 h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        margin: 0px 0px 26px 0px;
    }
    .RUANDA {
        display: flex;
        width: 656px;
        height: 217px;
        background: #f2f2f2;
        border-radius: 4px;
    }
    .RUANDA aside {
        display: grid;
        margin: 0px 0px 0px 0px;
    }
    .RUANDA p {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        margin: 47px 0px 0px 30px;
        color: #0b1d03;
    }
    .RUANDA img {
        width: 22%;
        height: 80%;
        margin: 16px 0px 0px 30px;
    }
    .RUANDA h2 {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #0b1d03;
        margin: 0px 0px 0px 30px;
        text-align: start;
    }
    .RUANDA h3 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: #a0996c;
        margin: 0px 0px 46px 30px;
    }
    .layout_inputs textarea {
        width: 660px;
        height: 197px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    }
    .layout_inputs button {
        width: 660px;
        height: 76px;
    }
    .main_initial {
        margin: 100px 15px 80px 15px;
    }
    .main_initial div {
        margin: 0px 0px 0px 30px;
    }
    .main_initial h2 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 60px;
        color: #0B1D03;
        margin: 0px 0px 30px 0px;
    }
    .main_initial p {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 140%;
        color: #0B1D03;
    }
    .main_initial img {
        width: 326px;
        height: 260px;
        object-fit: cover;
    }
    .main_midle {
        margin: 0px 15px 100px 15px;
    }
    .main_midle img {
        width: 326px;
        height: 260px;
        object-fit: cover;
        overflow: visible;
    }
    .main_midle div {
        margin: 0px 30px 0px 0px;
    }
    .main_midle h2 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 60px;
        color: #0B1D03;
        margin: 0px 0px 30px 0px;
    }
    .main_midle p {
        width: 382px;
        height: 105px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 140%;
        color: #0B1D03;
    }
    .aside_product {
        margin: 0px 15px 100px 15px;
    }
    .aside_product img {
        width: 35%;
    }
    .aside_product div {
        margin: 0px 0px 20px 110px;
    }
    .aside_product li {
        width: 349px;
        height: 453px;
    }
    .aside_product nav {
        display: flex;
        flex-flow: row wrap;
    }
    .aside_product button {
        width: 300px;
    }
    .beneficios {
        margin: 0px 71px 0px 0px;
        flex-wrap: wrap;
    }
    .beneficios div {
        margin: 0px 0px 0px 81px;
    }
    .main_final {
        width: 100%;
        display: block;
        margin: 104px 15px 170px 15px;
    }
    .main_final img {
        height: 212px;
    }
    .main_final nav {
        width: 578px;
        padding: 224px 128px 40px 30px;
        background-image: url('/img/tablet/catalogo.jpg');
        background-size: 848px 412px;
    }
    .main_final div {
        width: 508px;
        padding: 224px 200px 50px 30px;
        background-image: url('/img/tablet/acessorio.jpg');
        background-size: 848px 412px;
        margin: 0;
    }
    .main_final h2 {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: bold;
        font-size: 66px;
        color: #FFFCF6;
        margin: 0px 0px 10px 0px;
    }
    .footer_map {
        margin: 0px 15px 50px 15px;
    }
    .city {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        width: 738px;
        margin: 0px 0px 10px 0px;
        background-position: 680px 30px;
    }
    .adress {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        width: 738px;
        margin: 0px 0px 30px 0px;
        background-position: 680px 25px;
    }
    .footer_map img {
        width: 100%;
    }
    .option {
        width: 40px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #969696;
    }
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: hidden;
    }
    .black h2 {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        color: #0b1d03;
        margin: 50px 15px 0px 15px;
        background: #F7F1E6;
    }
    .footer ul {
        margin: 50px 0px 0px 15px;
    }
    .footer div {
        display: flex;
    }
    .social {
        margin: 0px 15px 0px 15px;
    }
    .social h5 {
        margin: 20px 0px 0px 0px;
    }
    .social img {
        margin: 20px 10px 0px 0px;
    }
    .final {
        margin: 0px 0px 0px 0px;
        display: flex;
        background: #f7f1e6;
        height: 36px;
    }
    .final h4 {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #1f1f1f;
        margin: 0px 239px 0px 239px;
    }
}


/* CABO! '_' .....*/